VITE_SUPABASE_URL=https://bzgsutbgbkiyhzfjrqcq.supabase.co
VITE_SUPABASE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ6Z3N1dGJnYmtpeWh6ZmpycWNxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzc2NTE3MjAsImV4cCI6MjA1MzIyNzcyMH0.xjgYqgzIijdu3HpVD4kLzFcZXd52ilZLpBxnAlwKgkw 