CREATE TABLE public.granulometria_entradas (id uuid NOT NULL DEFAULT extensions.uuid_generate_v4(), ambiente_id uuid NOT NULL, data_ensaio date NOT NULL, nome_amostra varchar(255) NOT NULL, massa_total_seca_ar decimal(10,2) NOT NULL, peneira_2_0mm decimal(10,2) NOT NULL DEFAULT 0, peneira_1_2mm decimal(10,2) NOT NULL DEFAULT 0, peneira_0_6mm decimal(10,2) NOT NULL DEFAULT 0, peneira_0_42mm decimal(10,2) NOT NULL DEFAULT 0, peneira_0_30mm decimal(10,2) NOT NULL DEFAULT 0, peneira_0_15mm decimal(10,2) NOT NULL DEFAULT 0, peneira_0_075mm decimal(10,2) NOT NULL DEFAULT 0, fundo decimal(10,2) NOT NULL DEFAULT 0, observacoes text, created_at timestamp with time zone NOT NULL DEFAULT timezone('utc'::text, now()), updated_at timestamp with time zone NOT NULL DEFAULT timezone('utc'::text, now()), usuario_cadastro varchar(255) NOT NULL, CONSTRAINT granulometria_entradas_pkey PRIMARY KEY (id), CONSTRAINT granulometria_entradas_ambiente_fkey FOREIGN KEY (ambiente_id) REFERENCES public.ambientes_compactacao_aterro (id) ON DELETE CASCADE);
CREATE TABLE public.granulometria_resultados (id uuid NOT NULL DEFAULT extensions.uuid_generate_v4(), id_entrada uuid NOT NULL, massa_total_seca decimal(10,2) NOT NULL, massa_fracao_2_0mm decimal(10,2) NOT NULL, percentagem_retida_2_0mm decimal(10,2) NOT NULL, percentagem_acumulada_retida_2_0mm decimal(10,2) NOT NULL, percentagem_passando_2_0mm decimal(10,2) NOT NULL, massa_fracao_1_2mm decimal(10,2) NOT NULL, percentagem_retida_1_2mm decimal(10,2) NOT NULL, percentagem_acumulada_retida_1_2mm decimal(10,2) NOT NULL, percentagem_passando_1_2mm decimal(10,2) NOT NULL, massa_fracao_0_6mm decimal(10,2) NOT NULL, percentagem_retida_0_6mm decimal(10,2) NOT NULL, percentagem_acumulada_retida_0_6mm decimal(10,2) NOT NULL, percentagem_passando_0_6mm decimal(10,2) NOT NULL, massa_fracao_0_42mm decimal(10,2) NOT NULL, percentagem_retida_0_42mm decimal(10,2) NOT NULL, percentagem_acumulada_retida_0_42mm decimal(10,2) NOT NULL, percentagem_passando_0_42mm decimal(10,2) NOT NULL, massa_fracao_0_30mm decimal(10,2) NOT NULL, percentagem_retida_0_30mm decimal(10,2) NOT NULL, percentagem_acumulada_retida_0_30mm decimal(10,2) NOT NULL, percentagem_passando_0_30mm decimal(10,2) NOT NULL, massa_fracao_0_15mm decimal(10,2) NOT NULL, percentagem_retida_0_15mm decimal(10,2) NOT NULL, percentagem_acumulada_retida_0_15mm decimal(10,2) NOT NULL, percentagem_passando_0_15mm decimal(10,2) NOT NULL, massa_fracao_0_075mm decimal(10,2) NOT NULL, percentagem_retida_0_075mm decimal(10,2) NOT NULL, percentagem_acumulada_retida_0_075mm decimal(10,2) NOT NULL, percentagem_passando_0_075mm decimal(10,2) NOT NULL, massa_fracao_fundo decimal(10,2) NOT NULL, percentagem_retida_fundo decimal(10,2) NOT NULL, percentagem_acumulada_retida_fundo decimal(10,2) NOT NULL, percentagem_passando_fundo decimal(10,2) NOT NULL, created_at timestamp with time zone NOT NULL DEFAULT timezone('utc'::text, now()), updated_at timestamp with time zone NOT NULL DEFAULT timezone('utc'::text, now()), CONSTRAINT granulometria_resultados_pkey PRIMARY KEY (id), CONSTRAINT granulometria_resultados_entrada_fkey FOREIGN KEY (id_entrada) REFERENCES public.granulometria_entradas (id) ON DELETE CASCADE);
CREATE INDEX idx_granulometria_entradas_ambiente ON public.granulometria_entradas(ambiente_id); CREATE INDEX idx_granulometria_resultados_entrada ON public.granulometria_resultados(id_entrada);
